<div class="header">
  <div class="pure-g">
    <div class="pure-u-1-8"></div>

    <div class="pure-u-3-4">
      <div class="home-menu pure-menu pure-menu-horizontal">
        <a class="pure-menu-heading" href="/">Messages</a>

        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="/messages" class="pure-menu-link">View Messages</a></li>
          <li class="pure-menu-item"><a href="/messages/new" class="pure-menu-link">New Message</a></li>
          <li class="pure-menu-item"></li>
        </ul>
      </div>
    </div>

    <div class="pure-u-1-8"></div>
  </div>
</div>
