<h1>New Message</h1>

<form class="pure-form pure-form-aligned" action="/messages" method="post">
  <fieldset>
    <div class="pure-control-group">
      <label for="content">Content</label>
      <input type="text" id="content" name="content" placeholder="Your Message..." required>
    </div>

    <div class="pure-controls">
      <input type="submit" class="pure-button pure-button-primary">
    </div>
  </fieldset>
</form>
